@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Lato:wght@300&family=Roboto:ital,wght@0,400;1,500&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    header{
        display: flex;
        justify-content: space-around;
        column-gap: 1%;
        background-color: #2d2d2d;
        padding: 0 18%;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        
    
        h1{
            text-shadow: 2px 2px  white;
            padding-right: 40%;
            white-space: nowrap;
            
    
            .bold{
                color: white;
                text-shadow: 2px 2px 2px black;
            }
        }
    
        .options-header{
            display: flex;       
            white-space: nowrap;
            color: white;
            padding-right: 13%;
            
            
            .inicio{
                background-color: #4d4c4c;
                
            }
    
            h5{
                padding: 11% 4%;
                text-shadow: 1px 1px 1px black;
    
                &:hover{
                    background-color: #4d4c4c;
                }
            }
        }
    }

    .whats{
        position: fixed;
        right: 0px; 
        top: 20%; 
        z-index: 1000; 
        background-color: #1aa74d;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: width 0.2s ease;

        &:hover{
            width: 55px;
       }
    
    
        img{
            width: 40px; 
            height: 40px;
        }
    }

    .img-title{
        
        img{
            width: 100%;
            height: 500px;
        }

        h1{
            margin-top: -9vh;
            padding: 2.5vh 10vw;
            color: white;
            background-color: rgba(51, 51, 51, 0.5);
            z-index: 1000;
            position: relative;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 500;
            text-shadow: 2px 2px 2px black;
        }
    }

    .container{
            background-color: #f3f3f3;
            padding: 1%;

        .title{
            text-align: center;
            margin-top: 4%;
            font-weight: bold;
            color:#414141;
            font-family: 'Roboto',sans-serif;
            font-size: 3.5vh;      
        }
        
        .line1{
            display: flex;
            flex-direction: row;
            margin: 5% 10%;
            
            
            .imagem1, .imagem2, .imagem3{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Roboto',sans-serif;
                font-weight: 900;
                font-size: 2vh;
                letter-spacing: 2px;
                

                h3{
                    margin-bottom: 5%;
                    a{
                        text-decoration: none;
                        color:#2d2d2d;
                    }
                }

                img{
                    width: 80%;
                    height: auto;
                    border-radius: 10px;
                    border: solid 1px black;
                }

                button{
                    background-color:#2d2d2d;
                    margin: 5%;
                    padding: 2% 10%;
                    color: #ffff;
                    font-family: 'Roboto',sans-serif;
                    font-weight: 900;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                        background-color: #414141;
                    }
                }
            }
        }
    }

    .container01{
        background-color: #ffff;
        padding: 1%;
    
    .line2{
        display: flex;
        flex-direction: row;
        margin: 5% 10%;
        
        
        .imagem1, .imagem2, .imagem3{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto',sans-serif;
            font-weight: 900;
            font-size: 2vh;
            letter-spacing: 2px;
            

            h3{
                margin-bottom: 5%;
                white-space: wrap;

                a{
                    text-decoration: none;
                    color:#2d2d2d;
                }
            }

            img{
                width: 80%;
                height: auto;
                border-radius: 10px;
                border: solid 1px black;
            }

            button{
                background-color:#2d2d2d;
                margin: 5%;
                padding: 2% 10%;
                color: #ffff;
                font-family: 'Roboto',sans-serif;
                font-weight: 900;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    background-color: #414141;
                }
            }
        }
    }
    }

    .container02{
        background-color: #f3f3f3;
        padding: 1%;

    .title{
        text-align: center;
        margin-top: 4%;
        font-weight: bold;
        color:#414141;
        font-family: 'Roboto',sans-serif;
        font-size: 3.5vh;      
    }

    .line3{
        display: flex;
        flex-direction: row;
        margin: 5% 10%;
        
        
        .imagem1, .imagem2, .imagem3{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto',sans-serif;
            font-weight: 900;
            font-size: 2vh;
            letter-spacing: 2px;
            

            h3{
                margin-bottom: 5%;
                a{
                    text-decoration: none;
                    color:#2d2d2d;
                }
            }

            img{
                width: 80%;
                height: auto;
                border-radius: 10px;
                border: solid 1px black;
            }

            button{
                background-color:#2d2d2d;
                margin: 5%;
                padding: 2% 10%;
                color: #ffff;
                font-family: 'Roboto',sans-serif;
                font-weight: 900;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    background-color: #414141;
                }
            }
        }
    }
    }

    .container03{
        background-color: #ffff;
        padding: 1%;
    
    .line4{
        display: flex;
        flex-direction: row;
        margin: 5% 10%;
        
        
        .imagem1, .imagem2, .imagem3{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto',sans-serif;
            font-weight: 900;
            font-size: 2vh;
            letter-spacing: 2px;
            

            h3{
                margin-bottom: 5%;
                white-space: wrap;

                a{
                    text-decoration: none;
                    color:#2d2d2d;
                }
            }

            img{
                width: 80%;
                height: auto;
                border-radius: 10px;
                border: solid 1px black;
            }

            button{
                background-color:#2d2d2d;
                margin: 5%;
                padding: 2% 10%;
                color: #ffff;
                font-family: 'Roboto',sans-serif;
                font-weight: 900;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    background-color: #414141;
                }
            }
        }
    }
    }

    footer{
        background-color: #2d2d2d;
        padding: 0% 10%;
        margin-bottom: 0px;

        .contatos{
            background-color:#2d2d2d;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 25%;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: -7%;
            padding-top: 8%;

            .primeira, .segunda, .terceira{
                display: flex;
                align-items: center;
                column-gap: 5%;

            h3{
                white-space: nowrap;
                text-shadow: 2px 2px 2px black;

                a{
                    text-decoration: none;
                    color: #f3f3f3;
                }
            }

                img{
                    width: 3vh;
                    height: 3.4vh;   
                }
            }

            .primeira{
                line-height: 1.5vh;
                margin-right: 10%;
                .endereco{
                    display: flex;
                    flex-direction: column;
                    white-space: nowrap;
                }
            }

            .segunda{
                margin-right: -12%;
                
            }
        }

        button{
            background-color: #52A820;
            display: flex;
            align-items: center;      
            color: #f3f3f3;
            font-weight: 900;
            padding: 1% 1%;
            width: 13.5%;
            height: 40px;
            margin-left: 95%;
            margin-top: 115px;
            cursor: pointer;
            border-radius: 5px;

            img{
                width: 3vh;  
                             
            }
            
            h3{
                font-size: 1em;
                text-shadow: 1px 1px 1px black;
            }         
        }

        .footer{
            background-color:#4d4c4c;
            padding: 10px;
            margin-left: -12.5%;
            margin-right: -12.5%;
            margin-top: 5%;
            color: #f3f3f3;
            text-align: center;
            text-shadow: 2px 2px 2px black;
        }
    }
}




